body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.sakktabla {
    border-collapse: collapse;
}

.sakktabla td {
    width: 50px;
    height: 50px;
    border: 1px solid #000;
}

.sakktabla td:nth-child(odd) {
    background-color: #eee;
}

.sakktabla td:nth-child(even) {
    background-color: #ddd;
}

.sakktabla td.fekete {
    background-color: #000;
}
